# Importing data using Python

Anaconda: Anaconda is an open source Python distribution for data science and machine learning related applications.

Jupyter Notebook: It is a web-based interactive Python environment where you can type the code and immediately see the results. Previously known as IPython Notebooks.

In this talk, I will go through importing data from various sources such as plain text files, flat files and world wide web. 

Based on the file type, I have divided this talk into six Sections.

## Section I -  Importing plain text files

A text file usually contains sequence of strings. 

To read a text file, we use Python basic open function that opens a connection to the file.

In [80]:
# Assign the filename to a variable
text_filename = 'huck_finn.txt'

In [81]:
# Open and read the file in read-only mode
file = open(text_filename, mode = 'r')
text = file.read()

In [82]:
# Print the content of the file
print(text)

HUCKLEBERRY FINN
Scene: The Mississippi Valley
Time: Forty to fifty years ago

You don’t know about me, without you have read a book by the
name of The Adventures of Tom Sawyer; but that ain’t no matter. That
book was made by Mr. Mark Twain, and he told the truth, mainly.
There was things which he stretched, but mainly he told the truth.
That is nothing. I never seen anybody but lied one time or another,
without it was Aunt Polly, or the widow, or maybe Mary. Aunt
Polly—Tom’s Aunt Polly, she is—and Mary, and the Widow Douglas
is all told about in that book, which is mostly a true book, with some
stretchers, as I said before.
Now the way that the book winds up is this: Tom and me found
the money that the robbers hid in the cave, and it made us rich. We
got six thousand dollars apiece—all gold. It was an awful sight of
money when it was piled up. Well, Judge Thatcher he took it and put

In [83]:
# Always remember to close the connection. It's often best practise to clean after cooking.
file.close()

In [84]:
# Check if the file is closed
print(file.closed)

True

We are humans. We make mistakes. You may forget to close the file sometimes.

You can avoid closing the file by using a 'with' statement. 

This allows you to create a context on which you can execute few commands while the file is open.
Once out of this context, the file is no longer open. For this reason 'with' is called a <u> Context Manager </u>

For large files, you may not want to print all the content at once, rather 
wish to read only few lines.

In [85]:
with open('huck_finn.txt') as file:
    print(file.readline())
    print(file.readline())
    print(file.readline())

HUCKLEBERRY FINN

Scene: The Mississippi Valley

Time: Forty to fifty years ago

In [86]:
with open('huck_finn.txt') as file:
    for i in range(0, 3):
        print(file.readline())

HUCKLEBERRY FINN

Scene: The Mississippi Valley

Time: Forty to fifty years ago

## Section II -  Importing Flat files

Flat files contain contain tabular data without structured relatioships. This is in contrast to database tables in which columns of different tables can be related.

Examples: .csv, .tsv etc. 

Each flat file contains fields, attributes and features. 

Cell: Field
Row: Record, Attribute or an Observation
Column: Characteritic or Feature

![title](excela.png)

In this section, we use 'iris' and 'titanic' datasets which are popular among the data science community.

The values in a file are seperated using certain special charecters, usually commas, tab and sometimes, pipes (|).
Often as a Data Scientist, I work with csvs and tsvs more often.

A flat file usually has a header that occurs in the first row of the file and describes the corresponding features.

The two main packages we use are numpy and pandas.

(a) We import numerical data using Numpy

(b) We import mixed data (Numerical and Categorical) using Pandas

### How to import data using Numpy:

Numpy is python standard package to store numeric data. They are efficient, fast and clean.
Also they have number of built-in functions to perform statistical calculations

In [87]:
import numpy as np
np_filename = 'iris.txt'

Do not forget to skip the first row

In [88]:
# Throuws 'could not convert string to int' error
np_data = np.loadtxt(np_filename, delimiter = ',')

ValueError: could not convert string to float: b'sepal_length\tsepal_width\tpetal_length\tpetal_width\tspecies'

In [89]:
# Skip the first row
np_data = np.loadtxt(np_filename, delimiter = ',', skiprows = 1)

In [90]:
np_data

array([[ 5.1,  3.5,  1.4,  0.2],
       [ 4.9,  3. ,  1.4,  0.2],
       [ 4.7,  3.2,  1.3,  0.2],
       [ 4.6,  3.1,  1.5,  0.2],
       [ 5. ,  3.6,  1.4,  0.2],
       [ 5.4,  3.9,  1.7,  0.4],
       [ 4.6,  3.4,  1.4,  0.3],
       [ 5. ,  3.4,  1.5,  0.2],
       [ 4.4,  2.9,  1.4,  0.2],
       [ 4.9,  3.1,  1.5,  0.1],
       [ 5.4,  3.7,  1.5,  0.2],
       [ 4.8,  3.4,  1.6,  0.2],
       [ 4.8,  3. ,  1.4,  0.1],
       [ 4.3,  3. ,  1.1,  0.1],
       [ 5.8,  4. ,  1.2,  0.2],
       [ 5.7,  4.4,  1.5,  0.4],
       [ 5.4,  3.9,  1.3,  0.4],
       [ 5.1,  3.5,  1.4,  0.3],
       [ 5.7,  3.8,  1.7,  0.3],
       [ 5.1,  3.8,  1.5,  0.3],
       [ 5.4,  3.4,  1.7,  0.2],
       [ 5.1,  3.7,  1.5,  0.4],
       [ 4.6,  3.6,  1. ,  0.2],
       [ 5.1,  3.3,  1.7,  0.5],
       [ 4.8,  3.4,  1.9,  0.2],
       [ 5. ,  3. ,  1.6,  0.2],
       [ 5. ,  3.4,  1.6,  0.4],
       [ 5.2,  3.5,  1.5,  0.2],
       [ 5.2,  3.4,  1.4,  0.2],
       [ 4.7,  3.2,  1.6,  0.2],
       [ 4.8,  3.1,  1.6,  0.2],
       [ 5.4,  3.4,  1.5,  0.4],
       [ 5.2,  4.1,  1.5,  0.1],
       [ 5.5,  4.2,  1.4,  0.2],
       [ 4.9,  3.1,  1.5,  0.1],
       [ 5. ,  3.2,  1.2,  0.2],
       [ 5.5,  3.5,  1.3,  0.2],
       [ 4.9,  3.1,  1.5,  0.1],
       [ 4.4,  3. ,  1.3,  0.2],
       [ 5.1,  3.4,  1.5,  0.2],
       [ 5. ,  3.5,  1.3,  0.3],
       [ 4.5,  2.3,  1.3,  0.3],
       [ 4.4,  3.2,  1.3,  0.2],
       [ 5. ,  3.5,  1.6,  0.6],
       [ 5.1,  3.8,  1.9,  0.4],
       [ 4.8,  3. ,  1.4,  0.3],
       [ 5.1,  3.8,  1.6,  0.2],
       [ 4.6,  3.2,  1.4,  0.2],
       [ 5.3,  3.7,  1.5,  0.2],
       [ 5. ,  3.3,  1.4,  0.2],
       [ 7. ,  3.2,  4.7,  1.4]])

 In the real dataset, you might have hundereds of features. And you may wish to work on only selected columns

In [91]:
# User columns 0, 2
data = np.loadtxt(np_filename, delimiter = ',', skiprows = 1, usecols = [0, 2])

In [92]:
data

array([[ 5.1,  1.4],
       [ 4.9,  1.4],
       [ 4.7,  1.3],
       [ 4.6,  1.5],
       [ 5. ,  1.4],
       [ 5.4,  1.7],
       [ 4.6,  1.4],
       [ 5. ,  1.5],
       [ 4.4,  1.4],
       [ 4.9,  1.5],
       [ 5.4,  1.5],
       [ 4.8,  1.6],
       [ 4.8,  1.4],
       [ 4.3,  1.1],
       [ 5.8,  1.2],
       [ 5.7,  1.5],
       [ 5.4,  1.3],
       [ 5.1,  1.4],
       [ 5.7,  1.7],
       [ 5.1,  1.5],
       [ 5.4,  1.7],
       [ 5.1,  1.5],
       [ 4.6,  1. ],
       [ 5.1,  1.7],
       [ 4.8,  1.9],
       [ 5. ,  1.6],
       [ 5. ,  1.6],
       [ 5.2,  1.5],
       [ 5.2,  1.4],
       [ 4.7,  1.6],
       [ 4.8,  1.6],
       [ 5.4,  1.5],
       [ 5.2,  1.5],
       [ 5.5,  1.4],
       [ 4.9,  1.5],
       [ 5. ,  1.2],
       [ 5.5,  1.3],
       [ 4.9,  1.5],
       [ 4.4,  1.3],
       [ 5.1,  1.5],
       [ 5. ,  1.3],
       [ 4.5,  1.3],
       [ 4.4,  1.3],
       [ 5. ,  1.6],
       [ 5.1,  1.9],
       [ 4.8,  1.4],
       [ 5.1,  1.6],
       [ 4.6,  1.4],
       [ 5.3,  1.5],
       [ 5. ,  1.4],
       [ 7. ,  4.7]])

### How to import data using Pandas:

Numpy is great for basic datatypes but tends to breakdown when using mixed datatype. (Numeric and Categorical)

Pandas helps fill this gap without having to shift to a more domain specific language such as 'R'.

The most basic data structure which Pandas offer is a dataframe (which holds tabular data). Its is very effcient in EDA, Data Wrangling, Data Preprocessing and Data Visualizations. For these reasons, pandas and dataframes are  considered the heart of Data Science.

You can import data from variety of sources and convert into dataframes using pandas.

In [93]:
import pandas as pd
pd_filename = 'population.csv'
pd_data = pd.read_csv(pd_filename)

In [94]:
pd_data

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,91371,1,73.5,0,1,1,1.00
1,90001,57110,26.6,28468,28642,12971,4.40
2,90002,51223,25.5,24876,26347,11731,4.36
3,90003,66266,26.3,32631,33635,15642,4.22
4,90004,62180,34.8,31302,30878,22547,2.73
5,90005,37681,33.9,19299,18382,15044,2.50
6,90006,59185,32.4,30254,28931,18617,3.13
7,90007,40920,24.0,20915,20005,11944,3.00
8,90008,32327,39.7,14477,17850,13841,2.33
9,90010,3800,37.8,1874,1926,2014,1.87
10,90011,103892,26.2,52794,51098,22168,4.67
11,90012,31103,36.3,19493,11610,10327,2.12
12,90013,11772,44.6,7629,4143,6416,1.26
13,90014,7005,44.8,4471,2534,4109,1.34
14,90015,18986,31.3,9833,9153,7420,2.45
15,90016,47596,33.9,22778,24818,16145,2.93
16,90017,23768,29.4,12818,10950,9338,2.53
17,90018,49310,33.2,23770,25540,15493,3.12
18,90019,64458,35.8,31442,33016,23344,2.70
19,90020,38967,34.6,19381,19586,16514,2.35
20,90021,3951,44.3,2790,1161,1561,1.57
21,90022,67179,29.8,33216,33963,17023,3.94
22,90023,45903,28.4,23037,22866,10727,4.26
23,90024,47452,23.6,22248,25204,17903,2.03
24,90025,42147,34.7,20859,21288,21228,1.97
25,90026,67869,34.0,34515,33354,24956,2.68
26,90027,45151,38.3,22362,22789,21929,1.99
27,90028,28714,34.0,16056,12658,14964,1.78
28,90029,38617,34.6,19575,19042,13883,2.70
29,90031,39316,33.5,19546,19770,11156,3.49
...,...,...,...,...,...,...,...
289,91792,30854,35.3,14950,15904,9154,3.35
290,91801,52735,39.1,24833,27902,19315,2.71
291,91803,30322,39.6,14486,15836,9894,3.04
292,92301,32725,25.6,16857,15868,8132,3.81
293,92371,16763,37.9,8565,8198,5370,3.11
294,92372,6220,41.8,3136,3084,2198,2.83
295,92397,4894,44.1,2522,2372,1998,2.45
296,92821,35533,38.7,17338,18195,13062,2.72
297,92823,3613,38.6,1757,1856,1154,3.13
298,92833,51767,36.0,25643,26124,15849,3.23
299,93040,2031,29.3,1052,979,522,3.89
300,93063,54366,39.0,26592,27774,18650,2.90
301,93225,5077,44.0,2585,2492,2080,2.44
302,93243,1699,40.9,884,815,623,2.73
303,93252,4176,38.4,3301,875,647,2.81
304,93510,7993,45.2,4086,3907,2729,2.86
305,93523,3074,27.0,1531,1543,1056,2.91
306,93532,2932,41.7,1642,1290,1079,2.45
307,93534,39341,31.1,18601,20740,14038,2.74
308,93535,72046,28.3,34879,37167,20672,3.44
309,93536,70918,34.4,37804,33114,20964,3.07
310,93543,13033,32.9,6695,6338,3560,3.66
311,93544,1259,52.4,689,570,569,2.20
312,93550,74929,27.5,36414,38515,20864,3.58
313,93551,50798,37.0,25056,25742,15963,3.18
314,93552,38158,28.4,18711,19447,9690,3.93
315,93553,2138,43.3,1121,1017,816,2.62
316,93560,18910,32.4,9491,9419,6469,2.92
317,93563,388,44.5,263,125,103,2.53
318,93591,7285,30.9,3653,3632,1982,3.67

In [95]:
# Print first 5 rows and the header
pd_data.head()

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,91371,1,73.5,0,1,1,1.00
1,90001,57110,26.6,28468,28642,12971,4.40
2,90002,51223,25.5,24876,26347,11731,4.36
3,90003,66266,26.3,32631,33635,15642,4.22
4,90004,62180,34.8,31302,30878,22547,2.73

In [32]:
# Convert numerical data to numpy array using values 
np_arr = np.array(pd_data.values)

Why would you want to convert the numerical values in a dataframe to Numpy array? For two reasons

(a) Numpy arrays hold single datatypes. This is the reason why the computations on Numpy arrays are faster than that of dataframe

(b) Size. Assume you have a million cells in a 2-Dimensional array. Pandas occupy 16 MB of space while Numpy occupies only 4 MB.

## Seciont III -  Importing Other File Types (Excel Spreadsheets, SAS, STATA)

An Excel file consists of multiple sheets. 

First we read the excel file and s

In [96]:
filename = 'synergy.xls'
data = pd.ExcelFile(filename)
print(data.sheet_names)

['Sheet1', 'Sheet2', 'Sheet3']

In [97]:
# Read a sheet
df1 = data.parse('Sheet1') #Pass the sheetname
df2 = data.parse(0) #Pass the sheet index

Pandas is smart enough to know if you have specified the sheetname or the index.

<b> SAS and STATA: </b> 

There are many statistical packages out there. Most popular of them are SAS (statystical Analysis System) and 
STATA (Statistics + Data).

Mostly used in 
SAS - BI and BAnalytics (.sas7bdat and .sas7bcat) ??
STATA - Academic Social Sciences. (dta)

In [37]:
from sas7bdat import SAS7BDAT

In [98]:
from sas7bdat import SAS7BDAT
with SAS7BDAT('alcohol.sas7bdat') as file:
    df_sas = file.to_data_frame();

In [99]:
df_sas

     ADULTS  KIDS  INCOME  CONSUME
0       2.0   2.0   758.0      1.0
1       2.0   3.0  1785.0      1.0
2       3.0   0.0  1200.0      1.0
3       1.0   0.0   545.0      1.0
4       4.0   1.0   547.0      1.0
5       2.0   2.0  1264.0      1.0
6       1.0   0.0   513.0      1.0
7       1.0   0.0   120.0      1.0
8       2.0   1.0   763.0      1.0
9       1.0   2.0   166.0      1.0
10      2.0   2.0   291.0      1.0
11      1.0   0.0   300.0      1.0
12      2.0   0.0   223.0      0.0
13      2.0   0.0  1567.0      1.0
14      2.0   0.0  1090.0      1.0
15      3.0   0.0  1167.0      1.0
16      1.0   0.0   121.0      1.0
17      3.0   0.0   934.0      1.0
18      4.0   0.0  1212.0      0.0
19      2.0   1.0   607.0      1.0
20      3.0   0.0   450.0      1.0
21      2.0   0.0  1701.0      1.0
22      2.0   0.0   343.0      0.0
23      3.0   1.0   843.0      1.0
24      2.0   2.0  1853.0      1.0
25      2.0   3.0   751.0      1.0
26      2.0   1.0   709.0      1.0
27      2.0   2.0   646.0      1.0
28      2.0   0.0   315.0      1.0
29      2.0   0.0  1119.0      1.0
..      ...   ...     ...      ...
970     1.0   0.0   144.0      1.0
971     2.0   0.0   859.0      1.0
972     1.0   0.0   222.0      1.0
973     3.0   0.0   973.0      1.0
974     2.0   1.0   618.0      1.0
975     2.0   2.0   657.0      1.0
976     1.0   0.0   551.0      1.0
977     2.0   2.0   267.0      1.0
978     1.0   0.0   462.0      0.0
979     1.0   0.0   153.0      0.0
980     3.0   0.0   584.0      0.0
981     3.0   0.0   703.0      1.0
982     3.0   0.0   621.0      1.0
983     2.0   3.0   899.0      0.0
984     1.0   0.0    82.0      1.0
985     2.0   0.0   357.0      0.0
986     1.0   0.0   116.0      0.0
987     1.0   1.0   351.0      1.0
988     2.0   3.0  1142.0      0.0
989     4.0   1.0  1421.0      1.0
990     2.0   0.0   372.0      1.0
991     2.0   1.0   949.0      0.0
992     2.0   0.0   711.0      1.0
993     4.0   1.0  2032.0      1.0
994     3.0   0.0   703.0      0.0
995     2.0   3.0   704.0      1.0
996     2.0   0.0   822.0      1.0
997     2.0   0.0  1383.0      1.0
998     2.0   2.0   816.0      0.0
999     2.0   2.0   387.0      0.0

[1000 rows x 4 columns]

We dont even have to pass a context manager in this case. We just have to specify the file name in case of STAT files.

In [100]:
f_stata = pd.read_stata('airline.dta')

In [101]:
f_stata

    year          y      w       r      l      k
0   1948   1.214000  0.243  0.1454  1.415  0.612
1   1949   1.354000  0.260  0.2181  1.384  0.559
2   1950   1.569000  0.278  0.3157  1.388  0.573
3   1951   1.948000  0.297  0.3940  1.550  0.564
4   1952   2.265000  0.310  0.3559  1.802  0.574
5   1953   2.731000  0.322  0.3593  1.926  0.711
6   1954   3.025000  0.335  0.4025  1.964  0.776
7   1955   3.562000  0.350  0.3961  2.116  0.827
8   1956   3.979000  0.361  0.3822  2.435  0.800
9   1957   4.420000  0.379  0.3045  2.707  0.921
10  1958   4.563000  0.391  0.3284  2.706  1.067
11  1959   5.385000  0.426  0.3856  2.846  1.083
12  1960   5.554000  0.441  0.3193  3.089  1.481
13  1961   5.465000  0.460  0.3079  3.122  1.736
14  1962   5.825000  0.485  0.3783  3.184  1.926
15  1963   6.876000  0.506  0.4180  3.263  2.041
16  1964   7.823000  0.538  0.5163  3.412  1.997
17  1965   9.120000  0.564  0.5879  3.623  2.257
18  1966  10.512000  0.586  0.5369  4.074  2.742
19  1967  13.020000  0.622  0.4443  4.710  3.564
20  1968  15.261000  0.666  0.3052  5.217  4.767
21  1969  16.313000  0.731  0.2332  5.569  6.511
22  1970  16.002001  0.831  0.1883  5.495  7.627
23  1971  15.876000  0.906  0.2023  5.334  8.673
24  1972  16.662001  1.000  0.2506  5.345  8.331
25  1973  17.014000  1.056  0.2668  5.662  8.557
26  1974  19.305000  1.131  0.2664  5.729  9.508
27  1975  18.721001  1.247  0.2301  5.722  9.062
28  1976  19.250000  1.375  0.3452  5.762  8.262
29  1977  20.646999  1.544  0.4508  5.877  7.474
30  1978  22.726000  1.703  0.5877  6.108  7.104
31  1979  23.618999  1.779  0.5346  6.852  6.874

## Section IV - Importing data from the World Wide Web

### Importing flat files from the web

So, far we have look at the importing data from the files which we have locally.
As a data scientist you might often have to import data from the world wide web. 

For example, let's assume that we might want to import data from University of California, Irvine's Machine Learnign Repository.

One way to do it using your favorite browser and download the file locally. However, one backdrop is that this process is not reproducible.
Which means that if another data scientist wants to reproduce your work, she might not be able to do it since the file is operated on locally.
Also, this is not scalable. Assume that you might have 100 files. this means that you have to repeat the process 100 times.  

But if you write a peice of code, it is much more scalable.

There are number of Python packages for this. We willll use 'urllib', 'requests' and 'beautifulsoup' packages

#### Files from the web

<u> csv file </u>

In [47]:
import urllib.request
url = 'https://s3.amazonaws.com/assets.datacamp.com/production/course_1606/datasets/winequality-red.csv'
urllib.request.urlretrieve( url, 'winequality-red.csv') #Saves the file locally

In [49]:
df = pd.read_csv('winequality-red.csv', sep = ';')
print(df.head())

<u> Excel File </u>

In [50]:
url = 'http://s3.amazonaws.com/assets.datacamp.com/course/importing_data_into_r/latitude.xls'
xl = pd.read_excel(url)

In [54]:
print(xl.keys())

Index(['country', 1700], dtype='object')

In [56]:
print(xl['country'].head())

#### Text from the web

URL - Uniform Resource Locator 

Consists of:
    Protocol Identifier - http, https
    Resource Name - wikipedia.com, duckduckgo.com 

Each time we visit a website, behind the scenes we are actually sending a http request. This is known as GET request.

In [57]:
import requests
url = 'https://en.wikipedia.org/wiki/Liverpool_F.C.'
r = requests.get(url) # Response object

In [61]:
# Convert the response object to text  
text = r.text  
print(text)

Web Scraping - Data Extraction from the world wide web

Web contains both structured and unstructured data.

Structured Data - Has a pre-defined model or Organized in a defined manner

Unstructured Data - Does not possess any of these properties

HTML contains much of unstructured text.

If you want to turn hyper text into data, we need to parse it and extract structured data from it. Pythons "Beautiful Soup" to the rescue.

In web-programming, 'Tag soup' refers to structurally incorrect code. What beautiful soup does is, make tag soup beautiful again.

In [62]:
from bs4 import BeautifulSoup
url = 'https://www.crummy.com/software/BeautifulSoup/'
r = requests.get(url)
html_doc = r.text

In [63]:
soup = BeautifulSoup(html_doc, "html.parser")

In [64]:
html = soup.prettify()
html = html.encode('UTF-8')

In [66]:
print(soup.prettify()) # Prints out a prettified version of the HTML text

In [68]:
print(soup.title)

In [71]:
print(soup.get_text())

## Section V - Importing data using APIs

API - Application Programming Interface.

An API is set of routines and protocols for building and interacting software applications. A standard form to transfer data using API is json file format.

JSON - Java Script Object Notation.

JSON contains key-value pairs just like a Python dictionary.
Keys are always 'strings', while values can be 'string, integers, arrays or even json objects'

In [72]:
import json
with open('example_1.json', 'r') as json_file:
    json_data = json.load(json_file)

In [74]:
type(json_data)

In [76]:
for key, value in json_data.items():
    print(key + ':', value)

Using APIs has become a standard way to import data  from the internet

In [77]:
import requests
url = 'http://www.omdbapi.com/?apikey=ff21610b&t=social+network'
r = requests.get(url)

In [79]:
omdb_data = r.json()
# for key, value in omdb_data.items():
    print(key + ':', value)